.RTC {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.RTC__videobox {
  position: relative;
}
.RTC__video {
  display: block;
  height: auto;
  width: 120px;
  height: 120px;
  border: 2px solid green;
  margin: 8px 8px 8px 64px;

  object-fit: cover;
  border-radius: 50%;
}
.RTC__video.is-local {
  filter: grayscale(0.9);
}
.RTC:not(.is-local-ready) .RTC__videobox {
  display: none;
}
.RTC:not(.is-established) .RTC__video.is-remote {
  display: none;
}

.RTC__box {
  margin: 16px;
}
