
.Communication {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
}

.Communication__input[type=text] {
  color: #444;
  margin: 20px auto;
}

.Communication__box {
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 600px;
  background: white;
  /* Initially we don't want any height, and we want the contents to be hidden */
  height: 300px;
  color: #444;
}

