.Room {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100vh;
}
.Room__game {
  flex: 1;
  background-color: white;
}

.Room__lobby,
.Room__unknown {
  flex: 1;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
