.RoomControls {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.svg {
  width: 15px;
}

.RoomControls__control {
  min-width: 30px;
  display: block;
  border-radius: 50%;
  height: 30px;
  background: rgba(44, 44, 44, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: .2ex .2ex 1.5em #444;
  transition: all .2s ease-out;
  margin: 5px;
  cursor: pointer;
}

.RoomControls__control:hover {
  box-shadow: .4ex .4ex 3em #666;
  background: rgba(64, 124, 247, 1)
}
