.Users {
  display: flex;
  margin: 16px;
}

.Users__user {
  width: 150px;
  height: 150px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.is-me {
  color: var(--green);
  fill: currentColor;
}

.Users_rtc {
  flex-direction: column;
}

.Users_rtc .Users__user {
  margin: 4px 16px;
}
.Users__icon {
  position: relative;
  width: 75px;
}

.User__video {
  height: 75px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  width: 75px;
  object-fit: cover;
}
