.Users {
  display: flex;
  margin: 16px;
}

.Users__user {
  width: 150px;
  height: 150px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.is-me {
  color: var(--green);
  fill: currentColor;
}

.Users_rtc {
  flex-direction: column;
}

.Users_rtc .Users__user {
  margin: 4px 16px;
}
.Users__icon {
  width: 75px;
}
